---
layout: "layout.njk"
title: Página de acerca
description: Mi página de acerca
---

<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cum qui, hic magni blanditiis, accusamus vitae perspiciatis, corporis quaerat cupiditate dicta ipsa expedita alias eveniet sint voluptas optio nemo explicabo.</p>
